# DAT210x - Programming with Python for DS

## Module6- Lab6

In [38]:
import pandas as pd
import time

### How to Get The Dataset

Grab the DLA HAR dataset from:

- http://groupware.les.inf.puc-rio.br/har
- http://groupware.les.inf.puc-rio.br/static/har/dataset-har-PUC-Rio-ugulino.zip
- A cached copy of the dataset is included in the course repository.

After extracting it out, load up the dataset into dataframe named `X` and do your regular dataframe examination:

In [67]:
# .. your code here ..
df = pd.read_csv("Datasets/dataset-har-PUC-Rio-ugulino.csv",sep=';')
df.columns = ['user', 'gender','age', 'how_tall_in_meters', 'weight', 'body_mass_index', 'x1',
       'y1', 'z1', 'x2', 'y2', 'z2', 'x3', 'y3', 'z3', 'x4', 'y4', 'z4',
       'res']
df.head()

c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,res
0,debora,Woman,46,"1,62",75,"28,6",-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,sitting
1,debora,Woman,46,"1,62",75,"28,6",-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,sitting
2,debora,Woman,46,"1,62",75,"28,6",-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,sitting
3,debora,Woman,46,"1,62",75,"28,6",-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,sitting
4,debora,Woman,46,"1,62",75,"28,6",-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,sitting

Encode the gender column such that: `0` is male, and `1` as female:

In [69]:
# .. your code here ..
df['gender2'] = df.gender.astype('category').cat.codes
df.head()
print(df.columns)
df.drop(columns = 'gender',inplace  = True)
df.head()
df.dtypes

AttributeError: 'DataFrame' object has no attribute 'gender'

Clean up any columns with commas in them so that they're properly represented as decimals:

In [70]:
# .. your code here ..
df.how_tall_in_meters = df.how_tall_in_meters.apply(lambda x:x.split(',')[0]+ x.split(',')[1])
df.body_mass_index = df.body_mass_index.apply(lambda x:x.split(',')[0]+ x.split(',')[1])
df.head()
df.body_mass_index = pd.to_numeric(df.body_mass_index,errors="coerce")
df.how_tall_in_meters = pd.to_numeric(df.how_tall_in_meters,errors='coerce')
df.z4 = pd.to_numeric(df.z4,errors='coerce')
df.gender2 = pd.to_numeric(df.gender2,errors='coerce')
df.head()

,user,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,res,gender2
0,debora,46,162,75,286,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147.0,sitting,1
1,debora,46,162,75,286,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145.0,sitting,1
2,debora,46,162,75,286,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144.0,sitting,1
3,debora,46,162,75,286,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142.0,sitting,1
4,debora,46,162,75,286,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143.0,sitting,1

Let's take a peek at your data types:

In [71]:
df.dtypes

user                   object
age                     int64
how_tall_in_meters      int64
weight                  int64
body_mass_index         int64
x1                      int64
y1                      int64
z1                      int64
x2                      int64
y2                      int64
z2                      int64
x3                      int64
y3                      int64
z3                      int64
x4                      int64
y4                      int64
z4                    float64
res                    object
gender2                  int8
dtype: object

Convert any column that needs to be converted into numeric use `errors='raise'`. This will alert you if something ends up being problematic.

In [72]:
# .. your code here ..

If you find any problematic records, drop them before calling the `to_numeric` methods above.

Okay, now encode your `y` value as a Pandas dummies version of your dataset's `class` column:

In [73]:
# .. your code here ..
y = pd.get_dummies(df,columns=['res'])
y

,user,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,...,z3,x4,y4,z4,gender2,res_sitting,res_sittingdown,res_standing,res_standingup,res_walking
0,debora,46,162,75,286,-3,92,-63,-23,18,...,-92,-150,-103,-147.0,1,1,0,0,0,0
1,debora,46,162,75,286,-3,94,-64,-21,18,...,-90,-149,-104,-145.0,1,1,0,0,0,0
2,debora,46,162,75,286,-1,97,-61,-12,20,...,-90,-151,-104,-144.0,1,1,0,0,0,0
3,debora,46,162,75,286,-2,96,-57,-15,21,...,-89,-153,-103,-142.0,1,1,0,0,0,0
4,debora,46,162,75,286,-1,96,-61,-13,20,...,-89,-153,-104,-143.0,1,1,0,0,0,0
5,debora,46,162,75,286,-2,95,-62,-14,19,...,-89,-153,-104,-142.0,1,1,0,0,0,0
6,debora,46,162,75,286,1,100,-62,-10,22,...,-90,-151,-104,-143.0,1,1,0,0,0,0
7,debora,46,162,75,286,-1,97,-63,-13,20,...,-88,-151,-104,-142.0,1,1,0,0,0,0
8,debora,46,162,75,286,-1,98,-63,-14,19,...,-90,-152,-103,-144.0,1,1,0,0,0,0
9,debora,46,162,75,286,0,98,-61,-11,22,...,-90,-151,-104,-144.0,1,1,0,0,0,0
10,debora,46,162,75,286,-1,95,-60,-13,19,...,-89,-150,-104,-144.0,1,1,0,0,0,0
11,debora,46,162,75,286,3,100,-59,-10,22,...,-90,-150,-103,-144.0,1,1,0,0,0,0
12,debora,46,162,75,286,0,96,-61,-14,20,...,-88,-149,-104,-145.0,1,1,0,0,0,0
13,debora,46,162,75,286,0,97,-61,-14,20,...,-90,-149,-104,-146.0,1,1,0,0,0,0
14,debora,46,162,75,286,0,97,-60,-13,21,...,-89,-149,-104,-145.0,1,1,0,0,0,0
15,debora,46,162,75,286,-1,96,-61,-13,19,...,-89,-149,-106,-145.0,1,1,0,0,0,0
16,debora,46,162,75,286,2,99,-60,-10,22,...,-90,-150,-103,-145.0,1,1,0,0,0,0
17,debora,46,162,75,286,0,96,-62,-14,20,...,-89,-150,-104,-144.0,1,1,0,0,0,0
18,debora,46,162,75,286,0,97,-61,-14,19,...,-89,-148,-102,-146.0,1,1,0,0,0,0
19,debora,46,162,75,286,0,98,-63,-12,21,...,-89,-148,-105,-146.0,1,1,0,0,0,0
20,debora,46,162,75,286,-1,95,-62,-15,19,...,-89,-144,-105,-143.0,1,1,0,0,0,0
21,debora,46,162,75,286,1,99,-62,-11,22,...,-90,-146,-106,-145.0,1,1,0,0,0,0
22,debora,46,162,75,286,-3,96,-62,-14,20,...,-88,-154,-108,-138.0,1,1,0,0,0,0
23,debora,46,162,75,286,-1,97,-62,-14,19,...,-90,-146,-109,-139.0,1,1,0,0,0,0
24,debora,46,162,75,286,1,97,-61,-11,21,...,-90,-148,-112,-142.0,1,1,0,0,0,0
25,debora,46,162,75,286,-3,96,-63,-16,19,...,-90,-155,-101,-141.0,1,1,0,0,0,0
26,debora,46,162,75,286,3,100,-61,-8,23,...,-90,-157,-97,-142.0,1,1,0,0,0,0
27,debora,46,162,75,286,-4,95,-63,-15,19,...,-89,-169,-96,-143.0,1,1,0,0,0,0
28,debora,46,162,75,286,1,100,-63,-10,22,...,-91,-177,-99,-133.0,1,1,0,0,0,0
29,debora,46,162,75,286,0,96,-64,-13,20,...,-88,-189,-104,-141.0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165603,jose_carlos,75,167,67,240,-39,147,-198,4,133,...,-28,-188,-95,-157.0,0,0,0,0,0,1
165604,jose_carlos,75,167,67,240,7,109,-154,15,98,...,42,-181,-85,-147.0,0,0,0,0,0,1
165605,jose_carlos,75,167,67,240,-18,110,-138,-4,97,...,-96,-186,-95,-154.0,0,0,0,0,0,1
165606,jose_carlos,75,167,67,240,3,112,-139,8,95,...,-117,-191,-74,-152.0,0,0,0,0,0,1
165607,jose_carlos,75,167,67,240,-3,69,-180,-33,105,...,-127,-197,-39,-144.0,0,0,0,0,0,1
165608,jose_carlos,75,167,67,240,-35,71,-187,-47,91,...,-127,-169,-27,-146.0,0,0,0,0,0,1
165609,jose_carlos,75,167,67,240,-26,120,-153,-31,106,...,-152,-192,-77,-147.0,0,0,0,0,0,1
165610,jose_carlos,75,167,67,240,13,66,-181,-46,93,...,-128,-206,-44,-142.0,0,0,0,0,0,1
165611,jose_carlos,75,167,67,240,-22,106,-189,-27,131,...,-57,-205,-113,-147.0,0,0,0,0,0,1
165612,jose_carlos,75,167,67,240,8,114,-174,-36,86,...,-130,-172,-106,-123.0,0,0,0,0,0,1
165613,jose_carlos,75,167,67,240,-7,99,-139,-22,78,...,-78,-197,-96,-135.0,0,0,0,0,0,1
165614,jose_carlos,75,167,67,240,-14,117,-155,-23,98,...,-70,-184,-108,-154.0,0,0,0,0,0,1
165615,jose_carlos,75,167,67,240,-6,103,-157,-6,95,...,-127,-194,-77,-159.0,0,0,0,0,0,1
165616,jose_carlos,75,167,67,240,-17,84,-157,-10,83,...,-117,-198,-76,-156.0,0,0,0,0,0,1
165617,jose_carlos,75,167,67,240,-11,87,-153,-7,87,...,-114,-202,-81,-162.0,0,0,0,0,0,1
165618,jose_carlos,75,167,67,240,-4,88,-158,1,88,...,-119,-190,-73,-160.0,0,0,0,0,0,1
165619,jose_carlos,75,167,67,240,-8,85,-154,-3,94,...,-117,-194,-79,-163.0,0,0,0,0,0,1
165620,jose_carlos,75,167,67,240,1,92,-154,-2,84,...,-128,-198,-79,-165.0,0,0,0,0,0,1
165621,jose_carlos,75,167,67,240,-1,91,-154,-5,72,...,-122,-200,-80,-164.0,0,0,0,0,0,1
165622,jose_carlos,75,167,67,240,-2,94,-147,6,73,...,-120,-201,-78,-165.0,0,0,0,0,0,1
165623,jose_carlos,75,167,67,240,-3,96,-147,6,81,...,-118,-200,-80,-166.0,0,0,0,0,0,1
165624,jose_carlos,75,167,67,240,-10,94,-149,-10,87,...,-117,-189,-81,-159.0,0,0,0,0,0,1
165625,jose_carlos,75,167,67,240,-8,94,-150,-8,89,...,-101,-193,-77,-153.0,0,0,0,0,0,1
165626,jose_carlos,75,167,67,240,-6,96,-142,-2,91,...,-102,-194,-78,-156.0,0,0,0,0,0,1
165627,jose_carlos,75,167,67,240,-13,94,-150,-13,88,...,-99,-194,-79,-157.0,0,0,0,0,0,1
165628,jose_carlos,75,167,67,240,2,93,-148,-8,88,...,-100,-189,-77,-160.0,0,0,0,0,0,1
165629,jose_carlos,75,167,67,240,-1,94,-147,-17,87,...,-99,-190,-78,-158.0,0,0,0,0,0,1
165630,jose_carlos,75,167,67,240,-10,93,-143,-19,86,...,-101,-185,-80,-153.0,0,0,0,0,0,1
165631,jose_carlos,75,167,67,240,-15,86,-152,-19,88,...,-25,-185,-84,-156.0,0,0,0,0,0,1
165632,jose_carlos,75,167,67,240,-14,86,-144,-18,85,...,-128,-210,-88,-148.0,0,0,0,0,0,1

In fact, get rid of the `user` and `class` columns:

In [81]:
# .. your code here ..
# df.drop(columns = ['res','user'],inplace=True)
df.head()
# y.drop(columns = ['user','age', 'how_tall_in_meters', 'weight', 'body_mass_index', 'x1',
#        'y1', 'z1', 'x2', 'y2', 'z2', 'x3', 'y3', 'z3', 'x4', 'y4', 'z4'],inplace=True)
y.head()
df.head()

,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,gender2
0,46,162,75,286,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147.0,1
1,46,162,75,286,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145.0,1
2,46,162,75,286,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144.0,1
3,46,162,75,286,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142.0,1
4,46,162,75,286,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143.0,1

Let's take a look at your handy-work:

In [76]:
df.describe()

,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,gender2
count,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165632.000000,165633.000000
mean,38.265146,163.971220,70.819408,261.885216,-6.649327,88.293667,-93.164611,-87.827504,-52.065047,-175.055200,17.423515,104.517167,-93.881726,-167.641448,-92.625171,-159.650985,0.612040
std,13.184091,5.282034,11.296527,29.957772,11.616238,23.895829,39.409423,169.435194,205.159763,192.816615,52.635388,54.155843,45.389646,38.311342,19.968610,13.221020,0.487287
min,28.000000,158.000000,55.000000,220.000000,-306.000000,-271.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-702.000000,-526.000000,-537.000000,0.000000
25%,28.000000,158.000000,55.000000,220.000000,-12.000000,78.000000,-120.000000,-35.000000,-29.000000,-141.000000,9.000000,95.000000,-103.000000,-190.000000,-103.000000,-167.000000,0.000000
50%,31.000000,162.000000,75.000000,284.000000,-6.000000,94.000000,-98.000000,-9.000000,27.000000,-118.000000,22.000000,107.000000,-90.000000,-168.000000,-91.000000,-160.000000,1.000000
75%,46.000000,171.000000,83.000000,286.000000,0.000000,101.000000,-64.000000,4.000000,86.000000,-29.000000,34.000000,120.000000,-80.000000,-153.000000,-80.000000,-153.000000,1.000000
max,75.000000,171.000000,83.000000,286.000000,509.000000,533.000000,411.000000,473.000000,295.000000,122.000000,507.000000,517.000000,410.000000,-13.000000,86.000000,-43.000000,1.000000

You can also easily display which rows have nans in them, if any:

In [77]:

df.dropna(axis = 0,inplace = True)
y.dropna(axis = 0,inplace = True)
print(df[pd.isnull(df).any(axis=1)])
print(y[pd.isnull(y).any(axis = 1)])

Empty DataFrame
Columns: [user, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, res, gender2]
Index: []
Empty DataFrame
Columns: [user, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, res_sitting, res_sittingdown, res_standing, res_standingup, res_walking]
Index: []

[0 rows x 22 columns]

Create an RForest classifier named `model` and set `n_estimators=30`, the `max_depth` to 10, `oob_score=True`, and `random_state=0`:

In [82]:
# .. your code here ..
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
model = RandomForestClassifier(n_estimators=30,max_depth=10,oob_score=True,random_state=0)

Split your data into `test` / `train` sets. Your `test` size can be 30%, with `random_state` 7. Use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [83]:
# .. your code here ..
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.3, random_state=7)

### Now the Fun Stuff

In [84]:
print("Fitting...")
s = time.time()

# TODO: train your model on your training set
model.fit(X_train,y_train)
# .. your code here ..

print("Fitting completed in: ", time.time() - s)

Fitting...
Fitting completed in:  9.511555194854736

Display the OOB Score of your data:

In [85]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

OOB Score:  98.805

In [86]:
print("Scoring...")
s = time.time()

# TODO: score your model on your test set
out = model.predict(X_test)
count = 0
xcorr = 0
n = out.len()
for i in range(n):
    if y_test[i] == out[i]:
        count+=1
        xcorr+=1
    else:
        xcorr+=1
score = xcorr / count
# .. your code here ..

print("Score: ", round(score*100, 3))
print("Scoring completed in: ", time.time() - s)

Scoring...

AttributeError: 'numpy.ndarray' object has no attribute 'len'

At this point, go ahead and answer the lab questions, then return here to experiment more --

Try playing around with the gender column. For example, encode `gender` `Male:1`, and `Female:0`. Also try encoding it as a Pandas dummies variable and seeing what changes that has. You can also try dropping gender entirely from the dataframe. How does that change the score of the model? This will be a key insight on how your feature encoding alters your overall scoring, and why it's important to choose good ones.

In [ ]:
# .. your code changes above ..

After that, try messing with `y`. Right now its encoded with dummies, but try other encoding methods to what effects they have.